@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

hr {
  border: 0;
  border-top: 1px solid #efefef;
}

img {
  max-width: 100%;
}

.test {
  color: #326dee;
}

.text-primary {
  color: #326dee;
}

.bg-primary {
  background-color: #326dee;
}

.text-key-light-1 {
  color: #477cf0;
}

.bg-key-light-1 {
  background-color: #477cf0;
}

.text-key-light-2 {
  color: #5b8af1;
}

.bg-key-light-2 {
  background-color: #5b8af1;
}

.text-key-light-3 {
  color: #7099f3;
}

.bg-key-light-3 {
  background-color: #7099f3;
}

.text-key-light-4 {
  color: #84a7f5;
}

.bg-key-light-4 {
  background-color: #84a7f5;
}

.text-key-light-5 {
  color: #99b6f7;
}

.bg-key-light-5 {
  background-color: #99b6f7;
}

.text-key-light-6 {
  color: #adc5f8;
}

.bg-key-light-6 {
  background-color: #adc5f8;
}

.text-key-light-7 {
  color: #c2d3fa;
}

.bg-key-light-7 {
  background-color: #c2d3fa;
}

.text-key-light-8 {
  color: #d6e2fc;
}

.bg-key-light-8 {
  background-color: #d6e2fc;
}

.text-key-light-9 {
  color: #ebf0fd;
}

.bg-key-light-9 {
  background-color: #ebf0fd;
}

.text-secondary {
  color: #1ac888;
}

.bg-secondary {
  background-color: #1ac888;
}

.text-key-light-1 {
  color: #31ce94;
}

.bg-key-light-1 {
  background-color: #31ce94;
}

.text-key-light-2 {
  color: #48d3a0;
}

.bg-key-light-2 {
  background-color: #48d3a0;
}

.text-key-light-3 {
  color: #5fd9ac;
}

.bg-key-light-3 {
  background-color: #5fd9ac;
}

.text-key-light-4 {
  color: #76deb8;
}

.bg-key-light-4 {
  background-color: #76deb8;
}

.text-key-light-5 {
  color: #8de4c4;
}

.bg-key-light-5 {
  background-color: #8de4c4;
}

.text-key-light-6 {
  color: #a3e9cf;
}

.bg-key-light-6 {
  background-color: #a3e9cf;
}

.text-key-light-7 {
  color: #baefdb;
}

.bg-key-light-7 {
  background-color: #baefdb;
}

.text-key-light-8 {
  color: #d1f4e7;
}

.bg-key-light-8 {
  background-color: #d1f4e7;
}

.text-key-light-9 {
  color: #e8faf3;
}

.bg-key-light-9 {
  background-color: #e8faf3;
}

.text-error {
  color: #d82752;
}

.bg-error {
  background-color: #d82752;
}

.text-key-light-1 {
  color: #dc3d63;
}

.bg-key-light-1 {
  background-color: #dc3d63;
}

.text-key-light-2 {
  color: #e05275;
}

.bg-key-light-2 {
  background-color: #e05275;
}

.text-key-light-3 {
  color: #e46886;
}

.bg-key-light-3 {
  background-color: #e46886;
}

.text-key-light-4 {
  color: #e87d97;
}

.bg-key-light-4 {
  background-color: #e87d97;
}

.text-key-light-5 {
  color: #ec93a9;
}

.bg-key-light-5 {
  background-color: #ec93a9;
}

.text-key-light-6 {
  color: #efa9ba;
}

.bg-key-light-6 {
  background-color: #efa9ba;
}

.text-key-light-7 {
  color: #f3becb;
}

.bg-key-light-7 {
  background-color: #f3becb;
}

.text-key-light-8 {
  color: #f7d4dc;
}

.bg-key-light-8 {
  background-color: #f7d4dc;
}

.text-key-light-9 {
  color: #fbe9ee;
}

.bg-key-light-9 {
  background-color: #fbe9ee;
}

.text-info {
  color: #f6c31c;
}

.bg-info {
  background-color: #f6c31c;
}

.text-key-light-1 {
  color: #f7c933;
}

.bg-key-light-1 {
  background-color: #f7c933;
}

.text-key-light-2 {
  color: #f8cf49;
}

.bg-key-light-2 {
  background-color: #f8cf49;
}

.text-key-light-3 {
  color: #f9d560;
}

.bg-key-light-3 {
  background-color: #f9d560;
}

.text-key-light-4 {
  color: #fadb77;
}

.bg-key-light-4 {
  background-color: #fadb77;
}

.text-key-light-5 {
  color: #fbe18e;
}

.bg-key-light-5 {
  background-color: #fbe18e;
}

.text-key-light-6 {
  color: #fbe7a4;
}

.bg-key-light-6 {
  background-color: #fbe7a4;
}

.text-key-light-7 {
  color: #fcedbb;
}

.bg-key-light-7 {
  background-color: #fcedbb;
}

.text-key-light-8 {
  color: #fdf3d2;
}

.bg-key-light-8 {
  background-color: #fdf3d2;
}

.text-key-light-9 {
  color: #fef9e8;
}

.bg-key-light-9 {
  background-color: #fef9e8;
}

.text-blue {
  color: #1919e6;
}

.bg-blue {
  background-color: #1919e6;
}

.text-key-light-1 {
  color: #3030e9;
}

.bg-key-light-1 {
  background-color: #3030e9;
}

.text-key-light-2 {
  color: #4747eb;
}

.bg-key-light-2 {
  background-color: #4747eb;
}

.text-key-light-3 {
  color: #5e5eee;
}

.bg-key-light-3 {
  background-color: #5e5eee;
}

.text-key-light-4 {
  color: #7575f0;
}

.bg-key-light-4 {
  background-color: #7575f0;
}

.text-key-light-5 {
  color: #8c8cf3;
}

.bg-key-light-5 {
  background-color: #8c8cf3;
}

.text-key-light-6 {
  color: #a3a3f5;
}

.bg-key-light-6 {
  background-color: #a3a3f5;
}

.text-key-light-7 {
  color: #babaf8;
}

.bg-key-light-7 {
  background-color: #babaf8;
}

.text-key-light-8 {
  color: #d1d1fa;
}

.bg-key-light-8 {
  background-color: #d1d1fa;
}

.text-key-light-9 {
  color: #e8e8fd;
}

.bg-key-light-9 {
  background-color: #e8e8fd;
}

.text-red {
  color: #e61919;
}

.bg-red {
  background-color: #e61919;
}

.text-key-light-1 {
  color: #e93030;
}

.bg-key-light-1 {
  background-color: #e93030;
}

.text-key-light-2 {
  color: #eb4747;
}

.bg-key-light-2 {
  background-color: #eb4747;
}

.text-key-light-3 {
  color: #ee5e5e;
}

.bg-key-light-3 {
  background-color: #ee5e5e;
}

.text-key-light-4 {
  color: #f07575;
}

.bg-key-light-4 {
  background-color: #f07575;
}

.text-key-light-5 {
  color: #f38c8c;
}

.bg-key-light-5 {
  background-color: #f38c8c;
}

.text-key-light-6 {
  color: #f5a3a3;
}

.bg-key-light-6 {
  background-color: #f5a3a3;
}

.text-key-light-7 {
  color: #f8baba;
}

.bg-key-light-7 {
  background-color: #f8baba;
}

.text-key-light-8 {
  color: #fad1d1;
}

.bg-key-light-8 {
  background-color: #fad1d1;
}

.text-key-light-9 {
  color: #fde8e8;
}

.bg-key-light-9 {
  background-color: #fde8e8;
}

.text-yellow {
  color: #e6e619;
}

.bg-yellow {
  background-color: #e6e619;
}

.text-key-light-1 {
  color: #e9e930;
}

.bg-key-light-1 {
  background-color: #e9e930;
}

.text-key-light-2 {
  color: #ebeb47;
}

.bg-key-light-2 {
  background-color: #ebeb47;
}

.text-key-light-3 {
  color: #eeee5e;
}

.bg-key-light-3 {
  background-color: #eeee5e;
}

.text-key-light-4 {
  color: #f0f075;
}

.bg-key-light-4 {
  background-color: #f0f075;
}

.text-key-light-5 {
  color: #f3f38c;
}

.bg-key-light-5 {
  background-color: #f3f38c;
}

.text-key-light-6 {
  color: #f5f5a3;
}

.bg-key-light-6 {
  background-color: #f5f5a3;
}

.text-key-light-7 {
  color: #f8f8ba;
}

.bg-key-light-7 {
  background-color: #f8f8ba;
}

.text-key-light-8 {
  color: #fafad1;
}

.bg-key-light-8 {
  background-color: #fafad1;
}

.text-key-light-9 {
  color: #fdfde8;
}

.bg-key-light-9 {
  background-color: #fdfde8;
}

.text-green {
  color: #19e635;
}

.bg-green {
  background-color: #19e635;
}

.text-key-light-1 {
  color: #30e949;
}

.bg-key-light-1 {
  background-color: #30e949;
}

.text-key-light-2 {
  color: #47eb5d;
}

.bg-key-light-2 {
  background-color: #47eb5d;
}

.text-key-light-3 {
  color: #5eee72;
}

.bg-key-light-3 {
  background-color: #5eee72;
}

.text-key-light-4 {
  color: #75f086;
}

.bg-key-light-4 {
  background-color: #75f086;
}

.text-key-light-5 {
  color: #8cf39a;
}

.bg-key-light-5 {
  background-color: #8cf39a;
}

.text-key-light-6 {
  color: #a3f5ae;
}

.bg-key-light-6 {
  background-color: #a3f5ae;
}

.text-key-light-7 {
  color: #baf8c2;
}

.bg-key-light-7 {
  background-color: #baf8c2;
}

.text-key-light-8 {
  color: #d1fad7;
}

.bg-key-light-8 {
  background-color: #d1fad7;
}

.text-key-light-9 {
  color: #e8fdeb;
}

.bg-key-light-9 {
  background-color: #e8fdeb;
}

.text-orange {
  color: #ffa600;
}

.bg-orange {
  background-color: #ffa600;
}

.text-key-light-1 {
  color: #ffaf1a;
}

.bg-key-light-1 {
  background-color: #ffaf1a;
}

.text-key-light-2 {
  color: #ffb833;
}

.bg-key-light-2 {
  background-color: #ffb833;
}

.text-key-light-3 {
  color: #ffc14d;
}

.bg-key-light-3 {
  background-color: #ffc14d;
}

.text-key-light-4 {
  color: #ffca66;
}

.bg-key-light-4 {
  background-color: #ffca66;
}

.text-key-light-5 {
  color: #ffd380;
}

.bg-key-light-5 {
  background-color: #ffd380;
}

.text-key-light-6 {
  color: #ffdb99;
}

.bg-key-light-6 {
  background-color: #ffdb99;
}

.text-key-light-7 {
  color: #ffe4b3;
}

.bg-key-light-7 {
  background-color: #ffe4b3;
}

.text-key-light-8 {
  color: #ffedcc;
}

.bg-key-light-8 {
  background-color: #ffedcc;
}

.text-key-light-9 {
  color: #fff6e6;
}

.bg-key-light-9 {
  background-color: #fff6e6;
}

.text-purple {
  color: #9900ff;
}

.bg-purple {
  background-color: #9900ff;
}

.text-key-light-1 {
  color: #a31aff;
}

.bg-key-light-1 {
  background-color: #a31aff;
}

.text-key-light-2 {
  color: #ad33ff;
}

.bg-key-light-2 {
  background-color: #ad33ff;
}

.text-key-light-3 {
  color: #b84dff;
}

.bg-key-light-3 {
  background-color: #b84dff;
}

.text-key-light-4 {
  color: #c266ff;
}

.bg-key-light-4 {
  background-color: #c266ff;
}

.text-key-light-5 {
  color: #cc80ff;
}

.bg-key-light-5 {
  background-color: #cc80ff;
}

.text-key-light-6 {
  color: #d699ff;
}

.bg-key-light-6 {
  background-color: #d699ff;
}

.text-key-light-7 {
  color: #e0b3ff;
}

.bg-key-light-7 {
  background-color: #e0b3ff;
}

.text-key-light-8 {
  color: #ebccff;
}

.bg-key-light-8 {
  background-color: #ebccff;
}

.text-key-light-9 {
  color: #f5e6ff;
}

.bg-key-light-9 {
  background-color: #f5e6ff;
}

.text-gray {
  color: #808080;
}

.bg-gray {
  background-color: #808080;
}

.text-key-light-1 {
  color: #8d8d8d;
}

.bg-key-light-1 {
  background-color: #8d8d8d;
}

.text-key-light-2 {
  color: #999999;
}

.bg-key-light-2 {
  background-color: #999999;
}

.text-key-light-3 {
  color: #a6a6a6;
}

.bg-key-light-3 {
  background-color: #a6a6a6;
}

.text-key-light-4 {
  color: #b3b3b3;
}

.bg-key-light-4 {
  background-color: #b3b3b3;
}

.text-key-light-5 {
  color: silver;
}

.bg-key-light-5 {
  background-color: silver;
}

.text-key-light-6 {
  color: #cccccc;
}

.bg-key-light-6 {
  background-color: #cccccc;
}

.text-key-light-7 {
  color: #d9d9d9;
}

.bg-key-light-7 {
  background-color: #d9d9d9;
}

.text-key-light-8 {
  color: #e6e6e6;
}

.bg-key-light-8 {
  background-color: #e6e6e6;
}

.text-key-light-9 {
  color: #f2f2f2;
}

.bg-key-light-9 {
  background-color: #f2f2f2;
}

.text-black {
  color: black;
}

.bg-black {
  background-color: black;
}

.text-key-light-1 {
  color: #1a1a1a;
}

.bg-key-light-1 {
  background-color: #1a1a1a;
}

.text-key-light-2 {
  color: #333333;
}

.bg-key-light-2 {
  background-color: #333333;
}

.text-key-light-3 {
  color: #4d4d4d;
}

.bg-key-light-3 {
  background-color: #4d4d4d;
}

.text-key-light-4 {
  color: #666666;
}

.bg-key-light-4 {
  background-color: #666666;
}

.text-key-light-5 {
  color: gray;
}

.bg-key-light-5 {
  background-color: gray;
}

.text-key-light-6 {
  color: #999999;
}

.bg-key-light-6 {
  background-color: #999999;
}

.text-key-light-7 {
  color: #b3b3b3;
}

.bg-key-light-7 {
  background-color: #b3b3b3;
}

.text-key-light-8 {
  color: #cccccc;
}

.bg-key-light-8 {
  background-color: #cccccc;
}

.text-key-light-9 {
  color: #e6e6e6;
}

.bg-key-light-9 {
  background-color: #e6e6e6;
}

.text-white {
  color: white;
}

.bg-white {
  background-color: white;
}

.text-key-light-1 {
  color: white;
}

.bg-key-light-1 {
  background-color: white;
}

.text-key-light-2 {
  color: white;
}

.bg-key-light-2 {
  background-color: white;
}

.text-key-light-3 {
  color: white;
}

.bg-key-light-3 {
  background-color: white;
}

.text-key-light-4 {
  color: white;
}

.bg-key-light-4 {
  background-color: white;
}

.text-key-light-5 {
  color: white;
}

.bg-key-light-5 {
  background-color: white;
}

.text-key-light-6 {
  color: white;
}

.bg-key-light-6 {
  background-color: white;
}

.text-key-light-7 {
  color: white;
}

.bg-key-light-7 {
  background-color: white;
}

.text-key-light-8 {
  color: white;
}

.bg-key-light-8 {
  background-color: white;
}

.text-key-light-9 {
  color: white;
}

.bg-key-light-9 {
  background-color: white;
}

.card {
  display: block;
  padding: 0.75rem;
  border: 1px solid #ddd;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.card .card-title {
  font-size: 1.5rem;
  padding-bottom: 0.75rem;
  font-weight: bold;
}
.card .card-body {
  font-size: 1rem;
}
.card .card-body a {
  text-decoration: underline;
}