* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

hr {
  border: 0;
  border-top: 1px solid #efefef;
}

img {
  max-width: 100%;
}

h1 {
  color: #326dee;
}

a {
  color: #1ac888;
}

button {
  color: white;
  border: 0;
  background: #326dee;
}

.error {
  color: #d82752;
  border-color: #d82752;
  border-style: solid;
}

.notification {
  color: #1ac888;
  border-color: #1ac888;
  border-style: solid;
}